<!DOCTYPE html>
<html lang="eng">
<head>
	<title>TIM 3</title>
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/normalize.css">
</head>
<body id="page-top">
	<div class="container">
		<header>
			<h1>BugisDev</h1>
			<br>
			<h4>TIM 3</h4>
			<br>
			<img src="{{collaboration.pict}}"></a>
		</header>
		<section id="about">
			<h4>About TIM 3</h4>
			<br>
			<a>{{collaboration.about}}</a><br>
			<p><a>Contact our member :</a><br></p>
			<ul type number><li><a href="{{collaboration.contact1}}">Syamsul Fajri</a></li></a>
			<li><a href="{{collaboration.contact2}}">Edy Kurniawan Nur</a></li></a>
			<li><a href="{{collaboration.contact3}}">Sinar Mustika Ruslan</a></li></a></ul>
		</section>
		<section id="activities">
			<h4>Activities</h4>
			<br>
			<p><a>{{collaboration.activities}}</a></p>
		</section>
		<footer>
			<a href="#page-top" class="right">Top</a>
			<p>Copyright &copy; 2015</p>
		</footer>
	</div>
</body>

